<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= pageTitle %></h2>

    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
        <input type="hidden" name="IDproduct" value="<%= product.IDproduct %>">

        <label for="productName">Name of product: <span class="symbol-required">*</span></label> 
        <input type="text" name="productName" id="productName"  placeholder="2-60 characters" value="<%= product.name %>"
               <%= (formMode == "showDetails") ? "disabled" : "" %> required>
        <span id="errorProductName" class="errors-text"></span>

        <label for="productPrice">Price: <span class="symbol-required">*</span></label> 
        <input type="number" name="productPrice" id="productPrice" value="<%= product.price %>"
                <%= (formMode == "showDetails") ? "disabled" : "" %> required>
        <span id="errorProductPrice" class="errors-text"></span>

        <label for="productionDate">Production date: <span class="symbol-required">*</span></label> 
        <input type="date" name="productionDate" id="productionDate" value="<%= product.productionDate %>"
                <%= (formMode == "showDetails") ? "disabled" : "" %> required>
        <span id="errorProductionDate" class="errors-text"></span>

        <label for="endDistributionDate">Distribution end date: </label> 
        <input type="date" name="endDistributionDate" id="endDistributionDate" value="<%= product.endDistributionDate %>"
                <%= (formMode == "showDetails") ? "disabled" : "" %> >
        <span id="errorEndDistributionDate" class="errors-text"></span>

        <% if (formMode == "showDetails") { %>
        <div class="section-buttons">
            <a href="/ProductModel/edut/<%= product.IDproduct %>" class="button-edit"> Edit</a>
        </div>
        <% } %>

        <% if (formMode == "showDetails" || formMode == "edit") { %>
        <h2> Details for this product</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>IDproduct</th>
                <th>Name</th>
                <th>Price</th>
                <th>Production Date</th>
                <th>Distribution End Date</th>
            </tr>
            </thead>
            <tbody>
            <% for (let e of product.ordereds) { %>
            <tr>
                <td>
                    <a href="/ordereds/details/<%= e.ordered.IDorderedProduct %>"> <%= e.ordered.IDorderedProduct %> </a>
                </td>
                <td><%= e.quantity %></td>
                <td><%= e.ProductModel_IDproduct %></td>
                <td><%= e.Order_IDorder %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>

        <div class = "form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != "showDetails") { %>
            <input class="form-button-submit" type="submit" value="<%= btnLabel %>" />
            <a class="form-button-cancel" href="/ProductModel/">Cancel</a>
            <% } else { %>
            <a class="form-button-cancel" href="/ProductModel/">Go back</a>
            <% } %>
        </div>

        <!--
        <div class="form-buttons">
            <p id="errorsSummary"></p>
            <input type="submit" value="Add" class="form-button-submit">
            <a href="/ProductModel/" class="form-button-cancel">Cancel</a>
        </div>
        -->
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>