<%- include('../../fragments/header.ejs') %>
<main>
    <h2>All products</h2>
    <table class="table-list"> <!-- Table with first table's fields--> <!-- ADDED TABLE-LIST CLASS FOR CSS TO WORK-->
        <thead>
            <tr>
                <th>IDproduct</th>
                <th>Name</th>
                <th>Price</th>
                <th>Production Date</th>
                <th>Distribution End Date</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        <% for (let product of products) { %>
            <tr>
                <td data-label="IDproduct"><%= product.IDproduct %></td>
                <td data-label="Name"><%= product.name %></td>
                <td data-label="Price"><%= product.price %></td>
                <td data-label="Production Date"><%= product.productionDate.toISOString().split("T") [0] %></td> <!-- formatting js Date format -->
                <% if(!product.endDistributionDate) { %>
                    <td data-label="Distribution End date"><%= product.endDistributionDate %></td>
                <% } else { %>
                <td data-label="Distribution End date"><%= product.endDistributionDate.toISOString().split("T") [0] %></td>
                    <% } %>
                <td>
                    <ul class="list-actions"> <!-- add class list-actions to align buttons horizontally -->
                        <li>
                            <a href="/ProductModel/details/<%= product.IDproduct%>" class="list-actions-button-details">Details</a>
                        </li>
                        <li>
                            <a href="/ProductModel/edit/<%= product.IDproduct%>" class="list-actions-button-edit">Edit</a>
                        </li>
                        <li>
                            <a href="/ProductModel/delete/<%= product.IDproduct%>" class="list-actions-button-delete">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <div>
        <p><a href="/ProductModel/add" class="button-add">Add new product</a></p>
        <p class="delete-message">Product deleted successfully</p>
    </div>
    
</main>

<%- include('../../fragments/footer.ejs') %>