<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= pageTitle %></h2>

    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
        <input type="hidden" name="IDorder" value="<%= order.IDorder %>"> <!-- THIS IS VERY FUCKING IMPORTANT-->

        <label for="clientContactInfo">Contact info: <span class="symbol-required">*</span></label> 
        <input type="text" name="clientContactInfo" id="clientContactInfo" placeholder="e-mail address" value="<%= order.clientContactInfo %>"
                <%= (formMode == "showDetails") ? "disabled" : "" %> required>
        <span id="errorClientContactInfo" class="errors-text"></span>

        <label for="shippingCompany"> Shipping method: <span class="symbol-required">*</span></label> <!-- Can't figure out displaying a "Field required" message for this field -->
        <select name="shippingCompany" id="shippingCompany" <%= (formMode == "showDetails") ? "disabled" : "" %> required>
            <% if(formMode == "showDetails" || formMode == "edit") { %>
            <option value="<%= order.shippingCompany %>" selected><%= order.shippingCompany %></option>
            <% } else { %>
            <option value="<%= order.shippingCompany %>" selected>-- Choose shipping method --</option>
            <% } %>
            <option value="1"> DHL</option>
            <option value="2"> Inpost</option>
            <option value="3"> Poczta Polska</option>
        </select>
        <span id="errorShippingCompany" class="errors-text"></span> <!-- added class errors-text because validation form wasn't able to get over the lack of it apparently -->

        <label for="premiumDelivery">Premium delivery: </label>  <!-- premiumDelivery is nullable therefore no "required" keyword-->
        <input type="checkbox" name="premiumDelivery" id="premiumDelivery" value="<%= order.premiumDelivery %>"
                <%= (formMode == "showDetails") ? "disabled" : "" %>>
        <span id="errorPremiumDelivery"></span>

        <% if (formMode == "showDetails") { %>
            <div class = "form-buttons">
                <a href="/Order/edit/<%= order.IDorder %>" class="form-button-edit"> Edit</a>
            </div>
        <% } %>

        <div class = "form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != "showDetails") { %>
                <input class="form-button-submit" type="submit" value="<%= btnLabel %>" />
                <a class="form-button-cancel" href="/Order/">Cancel</a>
            <% } %>
        </div>
    </form>

    <% if (formMode == "showDetails" || formMode == "edit") { %>
    <h2> Details for this order</h2>
        <table class="table-list">

            <tr>
                <th>IDorderedProduct</th>
                <th>Quantity</th>
                <th>Product</th>
                <th>IDorder</th>
            </tr>
            </thead>
            <tbody>
            <% for (let e of order.orderedProducts) { %> <!-- .orderedProducts is the name assigned when creating connections in init.js -->
            <tr>
                <td data-label="IDorderedProduct">
                    <a href="/OrderedProducts/details/<%= e.IDorderedProduct %>"> <%= e.IDorderedProduct %> </a>
                </td>
                <td data-label="Quantity"><%= e.quantity %></td> <!-- remember to add data-label in other places!! -->
                <td data-label="IDproduct"><%= " ID: " + e.ProductModel_IDproduct + " - " + e.productModel.name %></td>
                <td data-label="IDorder"><%= e.Order_IDorder %></td>
            </tr>
            <% } %>
            </tbody>
        </table>

    <% } %>

    <% if(formMode == "showDetails") { %>
        <a class="form-button-back" href="/Order/">Go back</a>
    <% } %>
</main>
<%- include('../../fragments/footer.ejs') %>